*~
/.cache/
/.smex-items
/auto-save-list/
/eln-cache/
/ido.last
/org-persist/
/org-roam.db
/projectile-bookmarks.eld
/recentf
/straight/build-cache.el
/straight/build/
/straight/repos/
/transient/
/url/