.cache/
.lsp-session*
.smex-items
*~
places
.recentf
ido.last
cider-history
emojis/
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
network-security.data
ac-comphist.dat
elpa/
session.*
cache/
flycheck_*
recentf
request/
transient
eln-cache/
straight/build/
straight/build-cache.el
straight/modified
straight/repos
projects
/eshell
/workspace/
/.org-id-locations
/bookmarks
/org-persist
/org-roam.db
/tutorial/
